--- pgdba ---
DB_USER=user
DB_PASSWORD=pass
DB_PORT=5432
DB_DATABASE=db
DB_DATABASE_TEST=db_t


--- Mailer ---
EMAIL_NAME=name
EMAIL_ADDRESS=name@email.com
EMAIL_PASSWORD=pass
EMAIL_HOST=smtp.host.email
EMAIL_SERVICE=Gmail
EMAIL_PORT=587
-----------------


--- filestore.s3 ---
S3_BUCKET=bucket
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=awsid
AWS_SECRET_ACCESS_KEY=awskey


--- manageLogs ---
VERBOSITY=6
VERBOSITY_INCLUDE=error,warn,debug
VERBOSITY_EXCLUDE=log